<div class="row">
  <div class="col-lg-12">
    <div class="main-box no-header clearfix">
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span><%= t "stt" %></span></th>
                <th><span><%= t "name" %></span></th>
                <th><span><%= t "phone" %></span></th>
                <th><span><%= t "idCart" %></span></th>
                <th><span><%= t "email" %></span></th>
                <th><span><%= t "count" %></span></th>
                <th><span><%= t "room_id" %></span></th>
                <th><span><%= t "status" %></span></th>
                <th><span><%= t "action" %></span></th>
              </tr>
            </thead>
              <tbody>
                <%= render partial: "user", collection: @users %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= paginate @users, theme: t("theme_paging") %>